header.header
  .header_column
    h1
      a(href=routes.home) Watube
  .header_column
    form(action=routes.search, method="get")
      input(type="text", placeholder="Search by term" name="term")
  .header_column
  ul
    li
      a(href=routes.join) Join
    li
      a(href=routes.login) Login
      